@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --color-white: #a0d5ff;
    --color-black: #000000;
    --color-MaastrichtBlue: #00172D;
    --color-Blue: #06386A;
    --color-Gray: #646D9B;

    --color-Maroon: #800000 ;
    --color-Lavender: #E6E6FA;
    --color-Navy: #000080;
    --color-Indigo: #4B0082;
    --color-PaleTurquoise: #AFEEEE;
    --color-MidnightBlue: #4B0082;
    --color-LightSeaGreen: #20B2AA;
    --color-PowderBlue: #B0E0E6;
    --color-RoyalBlue: #4169E1;
    --color-SlateBlue: #6A5ACD;
    --color-SlateGray: #708090;
    --color-DarkSlateGray: #2F4F4F;
    --color-DarkSlateBlue: #483D8B;
    --color-MediumSlateBlue: #7B68EE;
    --color-MediumPurple: #9370DB;
    --color-DarkCyan: #008B8B;
    --color-Orange: #FFA500;
    --color-Red: #FF0000; 
    --color-Green: #008000;

    --color-neon-yellow: #FFFF46;
    --color-neon-azul: #14f7ff;

    --color-background: #001338;
    --color-card: #646D9B;

    --transition: all 100ms ease;

    --card-border-radius: 1.4rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 2.1rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 0.1rem 0.2rem rgba(20, 247, 255, 0.8);
}

/*------- DARK THEME VARIABLES -------*/
.dark-theme-variables {
    --color-background: #34495e;
    --color-card: #808b96;/*BDC3C7*/
    --color-Lavender: #FFFFFF;
    --color-LightSeaGreen: #14f7ff;
    --color-neon: #AFEEEE;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-DarkCyan: #008B8B /*#2F4F4F*/;
    --box-shadow: 0 0.1rem 0.2rem rgba(20, 247, 255, 0.8);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: none;
    appearance: none;
    list-style: none;
}

html {
    font-size: 17px;
}

/*========================LogIn========================*/

.login {
    font-family: 'Rubik', sans-serif;
    font-size: 1.3rem;
    background: #000B18;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.containers {
    height: 49vh;
    
    /*background-image: url("../img/pro-player.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /*background: rgb(0,11,24);
    background: linear-gradient(0deg, rgba(0,11,24,1) 4%, rgba(0,23,45,1) 100%, rgba(0,38,77,1) 100%);*/
    /*border: var(--color-white) 0.1em solid;
    border-radius: 19px;
    /*box-shadow: rgba(68, 142, 228, 0.17) 0px -23px 25px 0px inset, rgba(73, 73, 73, 0.15) 0px -36px 30px 0px inset, rgba(68, 142, 228, 0.1) 0px -79px 40px 0px inset, rgba(73, 73, 73, 0.06) 0px 2px 1px, rgba(68, 142, 228, 0.09) 0px 4px 2px, rgba(68, 142, 228, 0.09) 0px 8px 4px, rgba(73, 73, 73, 0.09) 0px 16px 8px, rgba(73, 73, 73, 0.09) 0px 32px 16px;*/
    /*backdrop-filter: blur(14px);*/

    border: 0.2em solid transparent;
    padding: 0.5px;
    border-image: linear-gradient(180deg, #14f7ff, transparent, #14f7ff);
    border-image-slice: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.9px ease-in;
}

.video {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    z-index: -1;
    opacity: .55;
    --height: 10vh;
    width: 100%;
}

.video--cover {
  object-fit: cover;
}

/*img {
    background-size: contain;
    background-repeat: no-repeat;
    /*height: 50%;
    width: 250px;*/
    /*border: 1px solid #afff;
}*/

.name {
    color: var(--color-Lavender);
    text-align: center;
    margin-bottom: 30px;
    font-size: 33px;
}

input {
    background: transparent;
    color: var(--color-Lavender);
    display: block;
    width: 73vh;
    padding: 10px;
    border-bottom: 0.5px solid #E6E6FA;
    margin-bottom: 10px;
    outline: none;
    font-size: 23px;
}

.ms__validacion {
    color: var(--color-SlateBlue);
    visibility: hidden;
    display: none;
}

.boton {
    background: transparent;
    color: var(--color-white);
    border: 0.2px solid #E6E6FA;
    border-radius: 0.25em;
    padding: 11px 0px;
    margin-top: 23px;
    margin-bottom: .1px;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 1px;
    transition: .1s;
    overflow: hidden;
    box-shadow: inset  0 0 .5em var(--color-neon-azul),
                       0 0 .1em var(--color-neon-azul);
}
    
.boton:hover {
    background: var(--color-neon-yellow);
    color: var(--color-black);
    border: 0.2px solid var(--color-black);
    font-size: 19px;
    transform: translateY(0.1px);
    box-shadow: inset 0px 0px 20px 2px rgba(252, 255, 0,0.7), 
            0px 2px 44px rgba(0,0,0,0.45),
            0px 4px 8px rgba(0,0,0,0.67),
            0px 8px 16px rgba(0,0,0,0.14);
}

#message {
    text-align: center;
    color: #FF0000;
    font-size: 17px;
    margin-top: 7px;
}


a {
    color: var(--color-Lavender);
}

form {
    text-align: center;
    padding: 2.1rem;
}

img {
    margin-top: -14px;
    width: 11rem;
    height: 6rem;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.87rem;
}

small {
    font-size: 1rem;
}

.profile-photo {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    overflow-x: hidden;
}

.text-muted {
    color: var(--color-Lavender);
}

p {
    color: var(--color-Lavender);
}

b {
    color: var(--color-Lavender);
}

.primary {
    color: var(--color-neon)
}

.danger {
    color: var(--color-Red)
}

.success {
    color: var(--color-Green)
}

.warning {
    color: var(--color-Orange)
}


/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containers {
        width: 80%;
        padding: 10px;
    }

    .video {
        margin: -35% 0 0 -35%;
    }

    input {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 23px;
        font-size: 23px;
    }

    button {    
        padding: 14px 0px;
        cursor: pointer;
        font-size: 29px;
        width: 100%;
    }

    img {
        width: 14rem;
        height: 7rem;
    }

    h2{
        font-size: 3rem;
    }
}

/* JS styles */
.invalid {
    border: 1.5px solid #E6E6FA;
    box-shadow: 0 0 10px #20B2AA;
    border-radius: 0.25em;
}

.error {
    color: var(--color-Lavender);
    text-align: center;
}




